/* Container Styles */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f7f9fc;
    min-height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  /* Header Styles */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .header p {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
  }
  
  .logout-button {
    background-color: #ff4c4c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .logout-button:hover {
    background-color: #ff3333;
  }
  
  /* Input Styles */
  .unit-input, .file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .unit-input input, .file-upload input {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .unit-input button, .file-upload button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .unit-input button:hover, .file-upload button:hover {
    background-color: #45a049;
  }
  
  /* Lesson List Styles */
  .lesson-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
  }
  
  .lesson-card {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .lesson-card h1 {
    font-size: 1.5em;
    color: #333;
  }
  
  .lesson-card p {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
  }
  
  .delete-button, .update-button {
    background-color: #ff4c4c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 5px;
  }
  
  .delete-button:hover {
    background-color: #ff3333;
  }
  
  .update-button {
    background-color: #008cba;
  }
  
  .update-button:hover {
    background-color: #007bb5;
  }
  
  .lesson-card input {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
  }
  